header {
    background: #c2b603;
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0%;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav :hover {
    color:#000;
    text-decoration: underline;
}

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    background: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000;
    border-radius: 10px;

}

.produtos :hover {
    border-color: #000;
}

.produtos :hover h2 {
    font-size: 34px;

}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;

}

.prod-desc {
    font-size: 18px;
}

.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}



main {
    width: 940px;
    margin: 0 auto;
}

form {
    margin: 40px 0;
}

form label,form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox {
    margin: 20px 0;
}

p {
    color: #c2b603;
}

.enviar{
    width: 40%;
    padding: 15px 0;
    background: orchid;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s background;
}

.enviar :hover{
    background: #f2b8e6;
}

#imag3{
    width: 70%;
}

#imag1{
    width: 30%;
}

#imag2{
    width: 50%;
}